{% extends "base.html" %}

{% block title %}Lista de mascotas{% endblock %}

{% block content %}

<div class="container my-5">
  <div class="text-center mb-4">
    <h2 class="text-info mt-3">Envíanos un mensaje</h2>
  </div>

  <form id="contactForm" class="border p-4 rounded shadow-sm bg-light">
    {% csrf_token %}
    <div class="row">
      <div class="col-md-6 mb-3">
        <label class="form-label">Nombre</label>
        <input type="text" name="nombre_apellido" class="form-control" required>
      </div>
      <div class="col-md-6 mb-3">
        <label class="form-label">Teléfono</label>
        <input type="text" name="telefono" class="form-control" required>
      </div>
    </div>
    <div class="mb-3">
      <label class="form-label">Correo</label>
      <input type="email" name="email" class="form-control" required>
    </div>
    <div class="mb-3">
      <label class="form-label">Mensaje</label>
      <textarea name="mensaje" class="form-control" rows="3" required></textarea>
    </div>
    <button type="submit" class="btn btn-success w-100 mt-4">Enviar mensaje</button>
  </form>

  <p id="resultado" class="text-center mt-3"></p>
</div>

<script>
const form = document.getElementById("contactForm");
const resultado = document.getElementById("resultado");

form.addEventListener("submit", async (e) => {
  e.preventDefault();

  const data = {
    nombre_apellido: form.nombre_apellido.value,
    telefono: form.telefono.value,
    email: form.email.value,
    mensaje: form.mensaje.value
  };

  try {
    const response = await fetch("/api/mensaje/", {  
      method: "POST",
      headers: {
        "Content-Type": "application/json",
        "X-CSRFToken": document.querySelector('[name=csrfmiddlewaretoken]').value
      },
      body: JSON.stringify(data)
    });

    const result = await response.json();
    console.log(result); // ver detalle en consola

    if (response.status === 201 || response.status === 200) {
      resultado.textContent = "Mensaje enviado correctamente";
      resultado.style.color = "green";
      form.reset();
    } else {
      resultado.textContent = "Error al enviar: " + JSON.stringify(result);
      resultado.style.color = "red";
    }
  } catch (error) {
    console.error("Error de conexión:", error);
    resultado.textContent = "Error de conexión";
    resultado.style.color = "red";
  }
});
</script>



{% endblock %}
