name: CI CD espectacular de adop

on:
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest

    services:
      mariadb:
        image: mariadb:10.6
        env:
          MYSQL_ROOT_PASSWORD: root
          MYSQL_DATABASE: petlove
          MYSQL_USER: jovannylg
          MYSQL_PASSWORD: password
        ports:
          - 3306:3306
        options: >-
          --health-cmd="mysqladmin ping -h localhost -uroot -proot"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=5

    env:
      DB_HOST: mariadb
      DB_PORT: 3306
      DB_NAME: petlove
      DB_USER: jovannylg
      DB_PASSWORD: password

    strategy:
      max-parallel: 4
      matrix:
        python-version: [3.10.12]

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          python -m venv .venv
          source .venv/bin/activate
          pip install -U pip
          pip install -r adop/requirements.txt

      - name: Run migrations
        run: |
          source .venv/bin/activate
          python adop/manage.py migrate

      - name: Run tests
        run: |
          source .venv/bin/activate
          # python adop/manage.py test


  deploy:
    # needs: test
    runs-on: self-hosted

    steps:
      - name: Checkout main branch
        uses: actions/checkout@v3
        with:
          ref: main
          clean: false

      - name: Install dependencies
        run: |
          python3 -m venv ~/Documents/semestre/web/PetLove/adop/.venv
          source ~/Documents/semestre/web/PetLove/adop/.venv/bin/activate
          pip install -U pip
          pip install -r adop/requirements.txt
          pip install gunicorn

      - name: Run migrations + collectstatic
        run: |
          source ~/Documents/semestre/web/PetLove/adop/.venv/bin/activate
          python adop/manage.py migrate
          python adop/manage.py collectstatic --noinput

      - name: Restart gunicorn with supervisor
        run: |
          sudo supervisorctl restart all